# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# VS
/.vs/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Logs
/logs/
*.log

# Database files
/data_bases

# Configuration files
/config/portfolio.json
/config/portfolio_history.json
/config/transactions.json

# Test files
test*.json
test*.db
test.py

# Coverage reports
/plots
